@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  font-family: 'Roboto', 'Arial', Helvetica, sans-serif;
}

@theme {
  --color-background: #0d0c1c;
  --color-card-bg: #121217;
  --color-brand-purple: #7c3aed;
}

@layer base {
  body {
    background-color: var(--color-background);
    background-image: 
      radial-gradient(
        circle at 50% -10%, 
        rgba(124, 58, 237, 0.08) 0%, 
        rgba(9, 9, 11, 0) 50%
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    
    background-blend-mode: overlay;
    background-attachment: fixed;
    opacity: 0.95;
    min-height: 100vh;
    color: white;
  }
}